# Archivos temporales y registros
*.tmp
*.log

# Archivos del sistema operativo
Thumbs.db
.DS_Store

# Archivos generados por las pruebas del boilerplate
/tecnologia/boilerplate-clean-arquitecture/dist-pruebas/